<!DOCTYPE html>
	<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h1 class="section-heading">
					<a href="{{ path('article', {article_id: article.id}) }}">{{ article.title }}</a>
				</h1>
				<h5>Written on {{ article.date | date("d/m/Y H:i") }}</h5>
				<p>
                    {{ article.content }}
				</p>
				<div class="author">
					<h4>Author:</h4>
					<div class="image-container">
						<img src="{{ app.imageBasePath }}{{ article.author.profileImage }}" alt="Profile Image from user {{ article.author.username }}">
					</div>
					<h3>{{ article.author.username }}</h3>
				</div>
			</div>
		</div>
	</div>
</article>
</body>