<!DOCTYPE html>
<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
<div class="container form">
    <form method="POST" action="{{ path('editArticle', {article_id: article.id}) }}" id="form">
        <fieldset>
            <input placeholder="Title" type="text" name="title" id="title" value="{{ article.title }}"/> <br/>
        </fieldset>
        <input type="hidden" name="article_id" id="article_id" value="{{ article.id }}"/> <br/>
        <fieldset>
            <textarea name="content" id="content" style="width: 300px; height: 150px;"
                      placeholder="Type your message here...."> {{ article.content }}</textarea>
        </fieldset>
        <br/>
        <button name="submit" type="submit" data-submit="...Sending">Save</button>
    </form>
</div>

</body>