<!DOCTYPE html>
<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6" style="background-color: #b3b2b2;border-radius: 10px;">
                <h2>The best of the blog:</h2>
                {% for article in topArticles %}
                    <div class="post-preview">
                        <a href="{{ path('article', {article_id: article.id}) }}">
                            <h3 class="post-title">
                                {{ article.title | title }}
                            </h3>
                            <h4 class="post-subtitle">
                                <p>
                                    {% if article.content | length > 100 %}
                                        {{ article.content | slice(0,100) }}
                                        <a href="{{ path('article', {article_id: article.id}) }}">more&hellip;</a>
                                    {% else %}
                                        {{ article.content }}
                                    {% endif %}
                                </p>
                            </h4>
                        </a>
                        <p class="post-meta">by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</p>
                    </div>
                    <hr>
                {% else %}
                    <h1>There are no articles to show</h1>
                {% endfor %}
            </div>
            <div class="col-sm-6" style="background-color: #b3b2b2;border-radius: 10px;">
                <h2>Your best articles:</h2>
                {% for article in topAuthorArticles %}
                    <div class="post-preview">
                        <a href="{{ path('article', {article_id: article.id}) }}">
                            <h3 class="post-title">
                                {{ article.title | title }}
                            </h3>
                            <h4 class="post-subtitle">
                                <p>
                                    {% if article.content | length > 100 %}
                                        {{ article.content | slice(0,100) }}
                                        <a href="{{ path('article', {article_id: article.id}) }}">more&hellip;</a>
                                    {% else %}
                                        {{ article.content }}
                                    {% endif %}
                                </p>
                            </h4>
                        </a>
                        <p class="post-meta">by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</p>
                    </div>
                    <hr>
                {% else %}
                    <h1>There are no articles to show</h1>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">
            <h2>ALL ARTICLES</h2>
            {% for article in articles %}
                <div class="post-preview">
                    <a href="{{ path('article', {article_id: article.id}) }}">
                        <h3 class="post-title">
                            {{ article.title | title }}
                        </h3>
                        <h4 class="post-subtitle">
                            <p>
                                {% if article.content | length > 100 %}
                                    {{ article.content | slice(0,100) }}
                                    <a href="{{ path('article', {article_id: article.id}) }}">more&hellip;</a>
                                {% else %}
                                    {{ article.content }}
                                {% endif %}
                            </p>
                        </h4>
                    </a>
                    <p class="post-meta">by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</p>
                </div>
                <hr>
            {% else %}
                <h1>There are no articles to show</h1>
            {% endfor %}
        </div>
    </div>
</div>
</body>

