<!DOCTYPE html>
<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
<div class="container form">
    <form action="{{ path('login') }}" method="POST" id="form">
        <h3>Login</h3>
        <fieldset>
            <input type="text" id="username" name="username" placeholder="Username" required/>
        </fieldset>
        <fieldset>
            <input type="password" id="password" name="password" placeholder="Password" required/>
        </fieldset>
        <fieldset class="form-actions">
            <button name="submit" type="submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>

</body>
