<!DOCTYPE html>
<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}

<div class="container form">
    <form action="{{ path('register') }}" method="POST" id="form" enctype="multipart/form-data">
        <h3>Register</h3>
        <fieldset>
            <input type="text" id="username" name="username" placeholder="Username" required/>
        </fieldset>
        <fieldset>
            <input type="password" id="password" name="password" placeholder="Password" required/>
        </fieldset>

        <fieldset>
            <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
            <input type="file" name="profileimage">
        </fieldset>

        <fieldset class="form-actions">
            <button name="submit" type="submit" data-submit="...Sending">Submit</button>
        </fieldset>
    </form>
</div>

</body>