<!DOCTYPE html>
<meta charset="UTF-8">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
<div class="container form">
    <form action="{{ path('writeArticle') }}" method="POST" id="form">
        <h3>Write Article</h3>
        <fieldset>
            <input placeholder="Title" type="text" name="title" id="title" tabindex="1" />
        </fieldset>

        <fieldset>
            <textarea name="content" id="content" style="width: 300px; height: 150px;" placeholder="Type your message here...." tabindex="2"></textarea>
        </fieldset>

        <br />
        <button name="submit" type="submit" data-submit="...Sending">Submit</button>
    </form>
</div>
</body>